.row
  .col-lg-1
  .col-lg-7
    %h3= "#{current_user.firstname} #{current_user.lastname}" 
      
    %table.table.table-striped.table-bordered
      %tr
        %th Firstname
        %th Lastname
        %th Email

        %tr
          %td
            %h4 
              =current_user.firstname
          %td
            %h4 
              =current_user.lastname 
          %td
            %h4 
              =current_user.email  
    %br
  .col-lg-4 
- unless @products.nil?
  .row
    .col-lg-1
    .col-lg-10
      %h3= "Up to last 5 products created by user #{current_user.firstname} #{current_user.lastname}" 
      
      %table.table.table-striped.table-bordered
        %tr
          %th Title
          %th Description
          %th Price
          %th Avg rating
          %th Actions
              
        - @products.each do |product|
          %tr
            %td
              %h4 
                =product.title
            %td
              %h4 
                =description_substring(product.description)  
            %td
              %h4 
                =product.price   
            %td
              %h4 
                =product.average_rating                                     
            %td
              = link_to 'Show', category_product_path(product.category, product), :class => "btn btn-info"
              = link_to 'Edit', edit_category_product_path(product.category, product), :class => "btn btn-warning"
              = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
      %br
    .col-lg-1       
- unless @reviews.nil?
  .row
    .col-lg-1
    .col-lg-10
      %h3= "Up to last 5 reviews of user #{current_user.firstname} #{current_user.lastname}"
      %br 
      .row
        .col-lg-2
        .col-lg-8  
        - @reviews.each do |review|
          %blockquote
            %p= review.content
            %p rating: 
            %footer= review.rating
      .col-lg-2        
    .col-lg-1   